@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playwrite+MX+Guides&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Momo+Trust+Display&display=swap');

* {
margin: 0;
padding: 0;
}

/* IDs */

#theme-button {
border: 2px solid #8B95DB;
padding: 5px 0;
width: 5em;
border-radius: 2em;
position: relative;
top: 10px;
left: 10px;
color: #A118FF;
font-family: fantasy;
}


/* Classes */

.image {
display: flex;
justify-content: center;
}

.first-paragraph , .second-paragraph , .third-paragraph {
margin: 1.5em 1em 1.5em 1em;
font-family: Lora , sans-serif;
line-height: 1.5em;
}

.next-button {
font-size: 1em;
font-family: fantasy;
width: 4em;
padding: 5px 0;
border-radius: 2em;
border: 2px solid #8B95DB;
position: absolute;
right: 20px;
bottom: 40px;
}

.back-button {
font-size: 1em;
font-family: fantasy;
width: 4em;
padding: 5px 0;
position: absolute;
left: 20px;
bottom: 40px;
border: 2px solid #8B95DB;
border-radius: 2em;
}

/* Generics */

h2 {
text-decoration: underline purple;
letter-spacing: 10px;
margin-left: 1em;
margin-top: 2em;
font-family: Lobster , sans-serif;
}

a {
text-decoration: none;
color: #A118FF;
}

/* Animations */

@keyframes profile {
0% {
 transform: rotateY(0deg);
 }
 
50% {
    transform: rotateY(180deg);
 }
 
100% {
  transform: rotateY(0deg);
 }
}

img {
width: 150px;
margin: 1em 0;
border-radius: 80px;
object-fit: cover;
border: 5px solid #FFF412;
animation-name: profile;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}