* {
    margin: 0;
}

#nav-list {
    position: fixed;
    right: 0em;
    top: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

a {
    margin-right: 2em;
    text-decoration: none;
}

#heading {
    color: rebeccapurple;
    font-family: fantasy;
    word-spacing: 0.5em;
    margin-left: 1em;
}

#header {
    background-color: #9CA4FF;
    padding: 1em 0;
}