@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Momo+Trust+Display&display=swap');

* {
 margin: 0;
 padding: 0;
}

/* IDs */

#heading {
margin-top: 0.5em;
font-size: 1.5em;
}

#nav-list {
display: flex;
flex-direction: row;
justify-content: space-evenly;
list-style-type: none;
margin: 1em;
}
/* Classes */

.image {
display: flex;
justify-content: center;
}

/* Generics */

h3 {
font-family: Lobster , sans-serif;
display: flex;
justify-content: center;
color: #9903FF;
}

a {
text-decoration: none;
color: #A118FF;
}

img {
width: 150px;
margin: 1em 0;
border-radius: 80px;
object-fit: cover;
border: 5px solid #FFF412;
}