@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Momo+Trust+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playwrite+MX+Guides&display=swap');

* {
 margin: 0;
 padding: 0;
}

/* IDs */

#heading {
margin-top: 0.5em;
font-size: 1.5em;
letter-spacing: 0.3em;
}

#nav-list {
display: flex;
flex-direction: row;
justify-content: space-evenly;
list-style-type: none;
margin: 1em;
}

#theme-button {
border: 2px solid #8B95DB;
padding: 5px 0;
width: 5em;
border-radius: 2em;
position: relative;
top: 10px;
left: 10px;
color: #A118FF;
font-family: fantasy;
}

/* Classes */

.home-article {
margin-left: 1em;
line-height: 1.5em;
font-weight: bold;
font-family: serif;
}

.image {
display: flex;
justify-content: center;
}

.next-button {
font-size: 1em;
font-family: fantasy;
width: 4em;
border-radius: 2em;
padding: 5px 0;
margin-top: 5em;
margin-left: 10px;
border: 2px solid #8B95DB;
}

.theme {
background: #42445A;
color: white;
}

.abdsalam-khalid {
color: purple;
font-size: 1.5em;
}

.k {
 color: #14CD47;
 font-family: Lora , sans-serif;
}

/* Generics */

h3 {
font-family: Lobster , sans-serif;
display: flex;
justify-content: center;
color: #9903FF;
}

a {
text-decoration: none;
color: #A118FF;
}

img {
width: 150px;
margin: 1em 0;
border-radius: 80px;
object-fit: cover;
border: 5px solid #FFF412;
}
