@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playwrite+MX+Guides&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Momo+Trust+Display&display=swap');

* {
margin: 0;
padding: 0;
}

/* IDs */

#theme-button {
border: 2px solid #8B95DB;
padding: 5px 0;
width: 5em;
border-radius: 2em;
position: relative;
top: 10px;
left: 10px;
color: #A118FF;
font-family: fantasy;
}

#input {
display: block;
justify-content: center;
align-items: center;
margin: 50px;
}

/* Classes */

.image {
display: flex;
justify-content: center;
}

.back-button {
font-size: 1em;
font-family: fantasy;
width: 4em;
padding: 5px 0;
position: absolute;
left: 20px;
bottom: 40px;
border: 2px solid #8B95DB;
border-radius: 2em;
}


/* Generics */

img {
width: 150px;
margin: 1em 0;
border-radius: 80px;
object-fit: cover;
border: 5px solid #850EFF;
}

a {
text-decoration: none;
color: #A118FF;
}
