@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playwrite+MX+Guides&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Momo+Trust+Display&display=swap');

* {
margin: 0;
padding: 0;
}

/* IDs */

#theme-button {
border: 2px solid #8B95DB;
padding: 5px 0;
width: 5em;
border-radius: 2em;
position: relative;
top: 10px;
left: 10px;
color: #A118FF;
font-family: fantasy;
}

#name , #email {
width: 70%;
padding: 0.5em 0.5em;
border-radius: 2em;
border: 1px solid gold;
margin: 1em 0 1em 3em;
font-family: Playwrite MX Guides , sans-serif;
}

/* Classes */

.image {
display: flex;
justify-content: center;
}

.back-button {
font-size: 1em;
font-family: fantasy;
width: 4em;
padding: 5px 0;
position: absolute;
right: 2em;
bottom: 3em;
border: 2px solid #8B95DB;
border-radius: 2em;
}

.submit {
font-size: 1em;
font-family: fantasy;
width: 5.5em;
border: 2px solid #8B95DB;
border-radius: 2em;
color: #A118FF;
padding: 5px 2px 5px 2px;
margin: 1.5em 0 0 7.5em;
}

/* Generics */

img {
width: 150px;
margin: 1em 0;
border-radius: 80px;
object-fit: cover;
border: 5px solid #850EFF;
}

a {
text-decoration: none;
color: #A118FF;
}

textarea {
border: 1px solid gold;
border-radius: 1em;
padding: 1em;
margin-left: 2em;
margin-top: 1em;
font-family: Playwrite MX Guides,sans-serif;
}