@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Pacifico&display=swap");
* {
 margin: 0;
 padding: 0;
}

/* IDs */



/* Classes */

.image {
display: flex;
justify-content: center;
}

/* Generics */



/* Animations */

@keyframes profile {
 0% {
  transform: rotateY(0deg);
 }
 
 50% {
    transform: rotateY(180deg);
 }
 
 100% {
  transform: rotateY(0deg);
 }
}

img {
width: 150px;
margin: 1em 0;
border-radius: 80px;
object-fit: cover;
border: 5px solid #FFF412;
animation-name: profile;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}